body {
    background: #F0F0F0;
    min-height: 100vh;
    /* height: 100vh; */
    position: relative;
    padding-bottom: 5em;
}

.container {
  margin-bottom: 5em;
}

input[type=submit]{
  font-family: FontAwesome;
}

h1 {
    font-size: 2rem;
    width: 10em;
    padding: .5em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 100vh;
    background: #023c4c;
    color: white;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.orange-bg {
  background: #FF9244;
}

.navy-bg {
  background: #023c4c;
  color: white;
}

.orange-input {
    border: solid 2px #FF9244;
    border-radius: .3em;
}

.orange-btn {
    background: #F9781A;
    color: white;
}

.table-container {
  background: white;
  padding: 2em;
  border-radius: 1em;
}

.clickable:hover {
  filter: brightness(.9);
}