.home-linkContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 2em;
}

.home-link {
    display: block;
    font-size: 2em;;
    background: white;
    padding: 2em 1em;
    border-radius: 1em;
    width: 40%;
    text-decoration: none;
    color: black;
    margin: 2% 5%;
    box-shadow: 
        0 2px 5px 0 rgb(0 0 0 / 20%),
        0 2px 10px 0 rgb(0 0 0 / 10%);
}
