.toast {
    position: fixed;
    bottom: -2em;
    left: 1em;
    width: 20em;
    border: green 3px solid;
    background: #D1F4DA;
    padding: 1em;
    z-index: 100;
    color: green;
    transition: bottom .3s, opacity .3s;
}

.toast.showing {
    bottom: 1em;
}